<ngb-carousel routerLink="">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.pexels.com/photos/3829227/pexels-photo-3829227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://cdn.mos.cms.futurecdn.net/U5Fdom8yDwVcEivFjiqajF-1200-80.jpg.webp" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://apibackend.megapc.tn//uploads/photo/1662542667614.webp" />
            </div>
	</ng-template>
	