<div class="productSideBar">
  <div class="SideBarTitle">
    <h2 class="h2Title">FILTER</h2>
  </div>
  <h3 class="h3Price">PRICE</h3>
  <div class="priceFilter">
   
    <div class="priceInput">
      <input type="text" class="minMax" placeholder="Min" />
    </div>
    <div class="priceInput">
      <input type="text" class="minMax" placeholder="Max" />
    </div>
  </div>
  <h3 class="h3Price">CATEGORY</h3>
  <div class="CatCheckBox">
    <input type="checkbox" class="categoryCheck"/> Computer
  </div>
  <div class="CatCheckBox">
    <input type="checkbox" class="categoryCheck"/> Smart Phone
  </div>
  <div class="CatCheckBox">
    <input type="checkbox" class="categoryCheck"/> Accesory
  </div>
</div>
